[submodule "Transcendence-design"]
	path = Transcendence-design
	url = https://github.com/Transcendent-TTRPG/Transcendence-design.git
	branch = main
[submodule "Transcendence-foundry"]
	path = Transcendence-foundry
	url = https://github.com/Transcendent-TTRPG/Transcendence-foundry.git
	branch = main
[submodule "Transcendence-publications"]
	path = Transcendence-publications
	url = https://github.com/Transcendent-TTRPG/Transcendence-publications.git
	branch = main
[submodule "Transcendence-compendium"]
	path = Transcendence-compendium
	url = git@github.com:juangomezfulcrumapp/Transcendence-compendium.git
